<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Flux Clock</title>
  <!-- normalize.css -->
  <link rel="stylesheet" href="styles/normalize.css">
  <!-- custom style sheet -->
  <link rel="stylesheet" href="styles/flux_clock.css">
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- custom script -->
  <script src="scripts/flux_clock.js" ></script>
</head>
<body>
  <canvas id="canvas" width="550" height="550"></canvas>
</body>
</html>